{% extends 'rhymesapp/base.html' %}
{% block content %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Nursery Rhymes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: #F3EBF6;
        }
    </style>
    <div class="content container">
        <h2>Browse our Collection of Nursery Rhyme</h2>
            <a href="{% url 'rhymesapp:londonBridge' %}"><h3>London Bridge</h3></a><br>
            <a href="{% url 'rhymesapp:itsySpider' %}"><h3>Itsy Bitsy Spider</h3></a><br>
            <a href="{% url 'rhymesapp:littleStar' %}"><h3>Twinkle Twinkle Little Star</h3></a><br>
            <a href="{% url 'rhymesapp:jackJill' %}"><h3>Jack and Jill</h3></a><br>
            <a href="{% url 'rhymesapp:humptyDumpty' %}"><h3>Humpty Dumpty</h3></a><br>
            <a href="{% url 'rhymesapp:hickoryDock' %}"><h3>Hickory Dickory Dock</h3></a><br>
         <a href="{% url 'rhymesapp:blackSheep' %}"><h3>Ba Ba Black Sheep</h3></a><br>
         <a href="{% url 'rhymesapp:heyDiddle' %}"><h3>Hey Diddle Diddle</h3></a><br>
         <a href="{% url 'rhymesapp:hotBuns' %}"><h3>Hot Cross Buns</h3></a><br>
         <a href="{% url 'rhymesapp:jackNimble' %}"><h3>Jack be Nimble</h3></a><br>
         <a href="{% url 'rhymesapp:market' %}"><h3>To Market, To Market</h3></a><br>
         <a href="{% url 'rhymesapp:muffins' %}"><h3>The Muffin Man</h3></a><br>
         <a href="{% url 'rhymesapp:peterPiper' %}"><h3>Peter Piper</h3></a><br>
         <a href="{% url 'rhymesapp:piggy' %}"><h3>This Little Piggy</h3></a><br>
         <a href="{% url 'rhymesapp:rainPour' %}"><h3>It's Raining, It's Pouring</h3></a><br>
         <a href="{% url 'rhymesapp:ringPosies' %}"><h3>Ring Around the Rosies</h3></a><br>
         <a href="{% url 'rhymesapp:roses' %}"><h3>Roses are Red</h3></a><br>
         <a href="{% url 'rhymesapp:rowBoat' %}"><h3>Row Your Boat</h3></a><br>
         <a href="{% url 'rhymesapp:sticks' %}"><h3>Sticks and Stones</h3></a><br>
         <a href="{% url 'rhymesapp:threeMice' %}"><h3>Three Blind Mice</h3></a><br>
         <a href="{% url 'rhymesapp:tweedle' %}"><h3>Tweedledum and Tweedledee</h3></a><br>
    </div>
    <div class="links">
        <a href="{% url 'rhymesapp:home' %}" class="row"><span
        class="btn btn-success">Go Home</span></a>
    </div>
    </body>
    </html>
{% endblock %}
