{% extends 'rhymesapp/base.html' %}
{% load staticfiles %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Peter Piper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<style>
    body {
        background-color: #F3EBF6;
    }
    div{
        -webkit-align-content: center;
        align-content: center;
    }
    #rhymeText {
        text-align: center;
        max-width: 960px;
        margin: auto;
    }
    #button1{
        display: block;
        max-width: 100px;
        margin: 0 auto;
        margin-right: 220px;
    }
    #button2{
        display: block;
        max-width: 100px;
        margin: 0 auto;
        margin-right: 250px;
    }
</style>
<div class="content container" id="rhymeText">
    <h2>Peter Piper</h2>
    <font size = "4">
        Peter Piper picked a peck of pickled peppers,<br>

        A peck of pickled peppers Peter Piper picked;<br>

        If Peter Piper picked a peck of pickled peppers,<br>

        Where's the peck of pickled peppers Peter Piper picked?<br>
    </font>

    <br>
    <a href="{% static "theRhymes/peterPiper.pdf" %}" download = "Download PDF">
    <span class="btn btn-success">Download PDF</span></a>
    <br>
    <br>
    <audio controls>
        <source src = "{% static "theRhymes/Peter.mp4" %}"
        Your browser does not support the audio element.
    </audio>
</div>
<br>
<div class="links">
    <a href="{% url 'rhymesapp:rhymes_list' %}" class="row" id="button2"><span
        class="btn btn-success">Go Back to Browse</span></a>

    <br>

    <a href="{% url 'rhymesapp:home' %}" class="row" id="button1"><span
        class="btn btn-success">Go Home</span></a>
    <br>
</div>
</body>
</html>

{% endblock %}